.link {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 8px;
  word-break: break-word;
}

.excerpt {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 5px;
  white-space: pre-wrap;
  word-break: break-word;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 60px;
}

.tagContainer {
  margin-top: 20px;
  flex: 1 auto;
  font-weight: bold;
}

.location {
  font-weight: 600;
}

.topic {
  font-size: 18px;
}

.btnapply {
  margin: 2%;
}

.userDetails {
  display: flex;
  flex-shrink: 0;
  font-size: 12px;
  align-items: center;
  img {
    width: 32px;
    height: 32px;
    border-radius: 1px;
  }
  span {
    color: var(--black-400);
  }
  .info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    a {
      width: min-content;
    }
  }
}

.aboutcontainer {
  margin: 2% 0%;
}

.heading {
  font-size: 20px;
  font-weight: bold;
}

.details {
  text-transform: capitalize;
  margin: 2% 0%;
  font-size: 15px;
}

.bold {
  font-weight: 600;
}

.floatcontainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.pre {
  margin-top: 2%;
  overflow-x: auto;
  width: 50vw;
  
}